.AboutMeContainer {
  width: 70vw;
  height: 100vh;
  backdrop-filter: blur(8px) hue-rotate(60deg);
}

.LeftSideLine {
  width: 5px;
  height: 100vh;
  background-color: var(--mainTextColor);
  position: absolute;
  top: 0;
  left: 0;
}

.HeadLine {
  height: fit-content;
  width: 250px;
  font-size: 3rem;
  transform: rotate(-90deg) scale(3.5);
  position: relative;
  top: 36%;
  left: 0;
  color: var(--mainTextColor);
  font-family: "Cabin Sketch", cursive;
}
