.AboutMeContainer {
  width: 60vw;
  height: 100vh;
  backdrop-filter: blur(8px) hue-rotate(60deg) brightness(50%);
  font-family: "PT Sans", sans-serif;
}

.LeftSideLine {
  width: 5px;
  height: 100vh;
  background-color: var(--mainTextColor);
  position: absolute;
  top: 0;
  left: 0;
}

.HeadLine {
  height: fit-content;
  width: 250px;
  font-size: 3rem;
  transform: rotate(-90deg) scale(3.5);
  position: relative;
  top: 36%;
  left: 0;
  color: var(--mainTextColor);
  font-family: "Cabin Sketch", cursive;
}

.Layout {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 7%;
}

.Circle {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
}

.Layout p {
  color: var(--mainTextColor);
  font-size: 1.7rem;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .AboutMeContainer {
    width: 150vw;
  }

  .Layout {
    width: 55%;
    margin-left: 40%;
  }
  .Layout p {
    font-size: 1.3rem;
  }
}
