.Row {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  padding: 0 250px 0 250px;
}

.MyWork {
  text-align: center;
  font-size: 3rem;
  color: var(--secondaryColor);
}

.Image {
  height: 300px;
  width: 600px;
  transition: transform 0.2s;
  border-radius: 15px;
  cursor: pointer;
}

.Image:hover {
  transform: scale(1.1);
}

.DescriptiveText {
  height: 400px;
  width: 600px;
  padding-right: 50px;
  font-size: 1.5rem;
  color: var(--mainLightColor);
}

h3 {
  font-size: 2rem;
  margin-top: 0;
  color: var(--mainLightColor);
}
