.HeaderContainer {
  height: 100vh;
  width: 100vw;
}

.Bg {
  height: 100vh;
  width: 100vw;
  z-index: -10;
  position: relative;
  -webkit-filter: contrast(120%);
          filter: contrast(120%);
}

.HeaderText {
  color: var(--mainTextColor);
  position: absolute;
  top: 35%;
  left: 10%;
  z-index: -1;
}

h1 {
  font-size: 8rem;
  margin: 0;
}

.Name {
  opacity: 0;
  -webkit-animation: decent 3s ease-out forwards;
          animation: decent 3s ease-out forwards;
}

.Tag {
  font-size: 3rem;
  margin: 0;
  text-align: center;
  opacity: 0;
  -webkit-animation: decent 3s 1s ease-out forwards;
          animation: decent 3s 1s ease-out forwards;
}

.Tag span {
  font-size: 4rem;
}

.HeaderTextMirror {
  -webkit-transform: scaleY(-1) translateY(-390px);
          transform: scaleY(-1) translateY(-390px);
  position: absolute;
  top: 35%;
  left: 10%;
  z-index: -1;
}

.TagMirror {
  font-size: 3rem;
  margin: 0;
  text-align: center;
  color: transparent;
  text-shadow: 0px 0px 7px white;
  opacity: 0;
  -webkit-animation: ascent 3s 1s ease-out forwards;
          animation: ascent 3s 1s ease-out forwards;
}

.TagMirror span {
  font-size: 4rem;
}

.NameMirror {
  color: transparent;
  text-shadow: 0px 10px 17px white;
  opacity: 0;
  -webkit-animation: ascent 3s ease-out forwards;
          animation: ascent 3s ease-out forwards;
}

.ScrollIndicator {
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-animation: scrollHide 1.3s 6s forwards;
          animation: scrollHide 1.3s 6s forwards;
}

.OuterScroll {
  width: 30px;
  height: 50px;
  border-radius: 20px;
  border: 3px solid white;
}

.InnerScroll {
  position: relative;
  top: 60%;
  left: 50%;
  width: 8px;
  height: 12px;
  border-radius: 100%;
  background-color: white;
  -webkit-animation: scroll 1.3s infinite;
          animation: scroll 1.3s infinite;
  z-index: -1;
}

@-webkit-keyframes decent {
  from {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes decent {
  from {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes ascent {
  from {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.3;
  }
}

@keyframes ascent {
  from {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.3;
  }
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateY(-22px) translate(-50%);
            transform: translateY(-22px) translate(-50%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0%) translate(-50%);
            transform: translateY(0%) translate(-50%);
    opacity: 0;
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translateY(-22px) translate(-50%);
            transform: translateY(-22px) translate(-50%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0%) translate(-50%);
            transform: translateY(0%) translate(-50%);
    opacity: 0;
  }
}

@-webkit-keyframes scrollHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scrollHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .HeaderText {
    top: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
  }
  h1 {
    font-size: 8rem;
  }
  .Tag {
    font-size: 2rem;
  }
  .Tag span {
    font-size: 3rem;
  }
  .HeaderTextMirror {
    display: none;
  }
  .Bg {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (min-width: 2560px) {
  h1 {
    font-size: 10rem;
  }
  .HeaderTextMirror {
    -webkit-transform: scaleY(-1) translateY(-550px);
            transform: scaleY(-1) translateY(-550px);
    position: absolute;
    top: 35%;
    left: 10%;
    z-index: -1;
  }
}
/*# sourceMappingURL=Header.module.css.map */