* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Reenie Beanie', cursive;
  
}

:root {
  --backgroundColor: #28293b;
  --mainColor: #69585F;
  --secondaryColor: white;
  --secondaryDark: #a98743;
  --mainLightColor: white;
  --mainDarkColor: #2d3138;
  --mainTextColor: white;
}
