.Card {
  margin: 100px;
  margin-top: 20px;
  height: 700px;
  width: 1000px;
  background-color: var(--barberShopColor);
  -webkit-box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-animation: shadowRemove 0.3s forwards;
          animation: shadowRemove 0.3s forwards;
  font-family: sans-serif;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  border-radius: 10px;
  font-family: "Bree Serif", serif;
}

.Layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3%;
}

.Scrollabe {
  overflow-y: scroll;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.TextArea {
  width: 80%;
  color: var(--mainTextColor);
  margin: auto;
  margin-top: 30px;
  border: 1px solid var(--mainTextColor);
  padding: 20px 40px;
  font-size: 1.4rem;
}

.HeadLine {
  color: var(--mainTextColor);
  font-size: 3rem;
  font-family: "Cabin Sketch", cursive;
  cursor: default;
}

.Card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-animation: shadowExpand 0.3s forwards;
          animation: shadowExpand 0.3s forwards;
}

.Icon {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10px;
}

.Image {
  height: 500px;
  width: 1000px;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.2);
}

.Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  color: var(--mainTextColor);
}

.GitWebButtons a {
  width: 50%;
  height: 7%;
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background-color: var(--barberShopColor2);
  color: var(--mainTextColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border-radius: 0 0 0 10px;
  -webkit-box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.GitWebButtons a:nth-child(2) {
  right: 0;
  background-color: var(--barberShopColor3);
  border-radius: 0 0 10px 0;
}

.GitWebButtons a:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.TechsLayout {
  color: var(--mainLightColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 3rem;
  margin: 10px;
}

.Features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Features li {
  font-size: 1rem;
  border: 1px solid var(--mainLightColor);
  padding: 3px 6px 3px 6px;
  font-weight: 500;
  color: var(--mainLightColor);
  opacity: 0.7;
  list-style: none;
  margin: 10px 5px 0 5px;
}

.SpaceBottom {
  height: 100px;
}

@-webkit-keyframes shadowExpand {
  from {
    -webkit-box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.4);
  }
  to {
    -webkit-box-shadow: 0px 20px 20px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 20px 20px 4px rgba(0, 0, 0, 0.4);
  }
}

@keyframes shadowExpand {
  from {
    -webkit-box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.4);
  }
  to {
    -webkit-box-shadow: 0px 20px 20px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 20px 20px 4px rgba(0, 0, 0, 0.4);
  }
}

@-webkit-keyframes shadowRemove {
  from {
    -webkit-box-shadow: 0px 20px 20px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 20px 20px 4px rgba(0, 0, 0, 0.4);
  }
  to {
    -webkit-box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.4);
  }
}

@keyframes shadowRemove {
  from {
    -webkit-box-shadow: 0px 20px 20px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 20px 20px 4px rgba(0, 0, 0, 0.4);
  }
  to {
    -webkit-box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.4);
  }
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .Card {
    width: 90vw;
    margin: 50px;
    margin-top: 20px;
  }
  .Image {
    height: 25vh;
    width: 100%;
  }
  .TextArea {
    width: 90%;
    margin-top: 30px;
    padding: 5px 20px;
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=BarberShop.module.css.map */